<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Diese Woche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Tag</ion-label></ion-col>
      <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Gewicht[Kg]</ion-label></ion-col>
      <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Fat[%]</ion-label></ion-col>
      <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Muskel[%]</ion-label></ion-col>
    </ion-row>
    <ion-row *ngFor="let day of currentWeek.days">
      <ion-col class="ion-text-center" size="3">
          <div>
            <ion-label>{{day.date.wochentag}}</ion-label>
          </div>
          <div >
            <ion-label>{{day.date.uhrzeit}} Uhr</ion-label>
          </div>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
          <ion-input #a [(ngModel)]="day.gewicht" (ionChange)="save()" (keyup)="focusNext($event, b)"
                     type="number" (focusin)="day.gewicht = ''"></ion-input>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
          <ion-input #b [(ngModel)]="day.fat" (ionChange)="save()" (keyup)="focusNext($event, c)"
                     type="number" (focusin)="day.fat = ''"></ion-input>
      </ion-col>
      <ion-col class="ion-text-center" size="3">
          <ion-input #c [(ngModel)]="day.muskel" (ionChange)="save()"
                     type="number" (focusin)="day.muskel = ''"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!loaded">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Tag</ion-label></ion-col>
            <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Gewicht[Kg]</ion-label></ion-col>
            <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Fat[%]</ion-label></ion-col>
            <ion-col class="ion-text-center" size="3"><ion-label class="smaller">Muskel[%]</ion-label></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
